$mdc-theme-primary: #ffa500;
$mdc-theme-on-primary: #882cea;
$mdc-theme-surface: #882cea;
$mdc-theme-on-surface: #ffa500;

@import "~@material/top-app-bar/mdc-top-app-bar";
@import "~@material/tab-bar/mdc-tab-bar";
@import "~@material/tab-scroller/mdc-tab-scroller";
@import "~@material/tab-indicator/mdc-tab-indicator";
@import "~@material/tab/mdc-tab";
@import "~@material/typography/mdc-typography";

.mdc-top-app-bar__title {
  font-size: 1.75rem;
  color: $mdc-theme-on-primary;
}

.nav-link {
  background-color: #882cea;
  margin: 5px;
  width: 150px;
  border-radius: 10px;

  .mdc-tab__content {
    min-width: 50%;
  }

  .mdc-tab-indicator > .mdc-tab-indicator__content--underline {
    text-align: center;
    background-color: #ffffff;
    height: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
